html,
body {
    background: #09090b;
    color: #ffffff;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #09090b;
}
  
::-webkit-scrollbar-thumb {
    background-color: #27272a;
    border-radius: 16px;
}

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-header {
    font-size: 12px;
    font-family: sans-serif;
    padding-left: 1rem;
    border-bottom: 1px solid #27272a;
}

input {
    background-color: #27272a;
    border: 1px solid #27272a;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 1rem;
}

input:focus {
    outline: none;
    border: 1px solid #52525b;
}

.table {
    min-width: 768px;
    width: 100%;
    border-collapse: collapse;

    thead tr:nth-child(1) th{
        background: #09090b;
        border-bottom: 1px solid #27272a;
        position: sticky;
        top: -1px;
        z-index: 10;
    }
}

.table-container {
    overflow-x: scroll;
}

th, td {
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #27272a;
}

.sortButton {
    font-size: 16px;
    color: #ffffff;
    background-color: #09090b;
    border: none;
    padding: 0px;
}

.sortButton:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.units {
    font-size: 14px;
    color: #737373;
}

tr:hover {
    background-color: #18181b;
    -webkit-transition: 0.1s ease-in-out;
}

.playerName {
    font-size: 1.25rem;
    font-weight: 600;
}

.teamName {
    margin-top: 8px;
    font-size: 1rem;
    color: #a3a3a3;
}

.attempts {
    font-weight: 500;
}

.label {
    font-size: 14px;
    color: #737373;
    margin-top: 8px;
    margin-bottom: 8px;
}

.value {
    font-size: 1rem;
    color: #ffffff;
}

.noResult {
    height: 32rem;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    text-align: center; 
    margin-top: 12rem;   
}





